.products-page {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.products-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.products-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.products-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.products-button:hover {
    background-color: #0056b3;
}


.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 800px;
    margin: 0 auto;
}

.products-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.products-list-item span {
    margin: 0 5px;
    font-size: 1rem;
    color: #333;
}


.products-button-update {
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products-button-update:hover {
    background-color: #218838;
}

.products-button-delete {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products-button-delete:hover {
    background-color: #a71d2a;
}


.products-chart {
    max-width: 800px;
    margin: 20px auto;
}